Repository llmariner/api-usage, pull requests merged in 2024-11, with the labels that each got.

#32 chore(chart): add number type metadata
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: skip-changelog

#33 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#34 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#35 feat(chart): add an enable option for the dependency condition
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#36 feat(sender): add an enable flag to sender config
  pkg/sender/config.go
Labels: enhancement

#40 fix(chart): unset the default value of `enable`
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#41 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog

#38 feat(server): delete usage records out of retention period
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/cleaner/cleaner.go
  server/internal/cleaner/cleaner_test.go
  server/internal/config/config.go
  server/internal/store/usage.go
Labels: enhancement

#43 fix(server): fix default value
  deployments/server/values.yaml
Labels: bug
